.button-container{
    display: flex;
    justify-content: center;
}

.radio:checked{
    background-color: #7600f8;
    border-color: #7600f8;
}

.radio:focus{
box-shadow: none;
}

.input.form-control{
    background-color: white;
}

.input:focus{
    box-shadow: none;
    border-color: #7600f8;
    }