.single-date-input{
    margin-bottom: 1em;
    max-width: 13.5em;
}

.checkbox{
    border-color: #ced4da;
}

.days-input{
    margin-bottom: 1em;
    max-width: 13.5em;
}

.checkbox:focus{
    box-shadow: none;
    border-color: #ced4da;
}

.checkbox:checked{
    background-color: #7600f8;
    border-color: #7600f8;
    border-color: #7600f8;
}