.me-auto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.navbar{
    width: 80%;
    margin: 0 auto;
    z-index: 2;  
}

.purple {
    color: #7600f8;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: #6c757d;
}

.link:hover{
    color: #495057;
}

.navbar-nav .show>.nav-link{
    color: #495057;
}

.dropdown-toggle.nav-link{
padding: 0;
color: #6c757d;
}

.item.dropdown-item:active{
    background-color: #e9ecef;
    color: white;
}

.dropdown.nav-item{
    position: relative;
}

.dropdown-menu.dropdown-menu-end.show{
    position: absolute;
}